.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#viewListTable thead tr th, #viewListTable tbody tr td {
  font-size: 14px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #9e9e9e;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .notification-entry:hover {
  /* color: #f1f1f1; */
  background-color: #E0E0E0!important;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.nav-tabs a, .nav-tabs a:hover {
  color: #17a2b8;
}

#viewListTable tbody tr td a {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
}

.react-bootstrap-table-pagination .active .page-link{
  background-color: #17a2b8 !important;
  border-color:#17a2b8 !important
}

.table-bordered td, .table-bordered th {
  border: none !important;
}

.table-bordered th {
  background-color: #17a2b8;
  color: #fff;
}

.react-bootstrap-table-pagination-total {
  font-size: 14px !important;
}